/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.hero {
    
    background-image: url(../img/bigben.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    position: relative;

}

.container {
    padding:0 140px;
    max-width: 1280px;
    margin: 0 auto;
}

.topbar {
    display:flex;
    justify-content: space-between;
    padding: 25px 0;
    color: white;
    border-bottom: 1px solid white;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding:0;
    display:flex;
    justify-content: space-between;
    font-size: 16px;
    color:white;
}

.menu li {
    padding: 0px 10px;
    color:white;
    
}

.menu-button {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

.menu-button:hover {
    color:#fbad27;
    font-size: 30px;
}

.phone p {
    margin: 0%;
    font-size: 16px;

}

.centertext {
    text-align: center;
    padding-top: 23vh;
}

.centertext h2,
.centertext p {
    margin: 8px;
    color: white;
}

.centertext h2 {
    font-size: 3.2rem;
    
}

.centertext p {
    padding-bottom: 15px;
}

.button {
    color: white;
    background-color: #fbad27;
    padding: 8px 32px;
    text-decoration: none;  
    border-radius: 25px;
}

.footer1 {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px; 
}

.footer-image {
    max-width: 40px;
}

.footer-image img {
    max-width: 100%;
}

.footer-text p {
    margin: 0;
    color: white;
}

.homepage-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.welcome {
    text-align: center;
    size: 100%;
}

.slider {
    display:flex;
    justify-content: space-between;
    padding-top: 8rem;    
}

.slider-text {
    text-align: left;
    margin-right: 22px;
    margin-left: 22px;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 6px  rgba(0,0,0,0.15);
    transition: all 0.5s ease; 

}

.slider-text:hover {
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 8px  rgba(0,0,0,0.25);
    transform: translateY(-2px);
}

.icon {
    color: #fbad27;
    font-size:32px;
}

.buttons-div {
    display: flex;
    margin-top: 4rem;
    /* padding-bottom: 4rem; */
    justify-content: center;
    /* border-bottom: 1px solid #757575;  */
}

.slider-buttons {
    color: #757575;
    transition: all 0.3s ease;
}

.slider-buttons:hover {
    color: #fbad27;
    font-size: 20px;
}

.section-divider {
    margin:0;
}

.find-your-destination {
    text-align: center;

}

.search {
    display: inline-flex;
    justify-content: center;
}

.search .fa-search {
    padding-right: 4px;
}

.searchbar {
    border: none; 
    border-bottom: solid 1px black; 
}

.destination-rows {
    padding-top: 20px;
    padding-bottom: 50px;   
}

.destination-row {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.destination-row p {
    color: white;
}

.row-item {
    height: 280px;
    width: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px 15px;
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 6px  rgba(0,0,0,0.15);
    transition: all 0.5s ease;
    position: relative;
}

.row-item:hover {
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 8px  rgba(0,0,0,0.25);
    transform: translateY(-2px);
}

.top-item-1 {
    background-image: url(../img/thailand.jpg);
}

.top-item-2 {
    background-image: url(../img/australia.jpg);
}

.top-item-3 {
    background-image: url(../img/indonesia.jpg)
}

.bottom-item-1 {
    background-image: url(../img/france.jpg)
}

.bottom-item-2 {
    background-image: url(../img/malaysia.jpg)
}

.bottom-item-3 {
    background-image: url(../img/UAE.jpg)
}

.destination-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    text-decoration: none;
    padding-top: 15px;
}

.news-columns {
    padding-left: 140px;
    padding-right: 140px;
    display: flex; 
    justify-content: space-between;
}

.news-paris {
    background-image: url(../img/paris.jpg);
    height: 240px;
    width: 340px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.news-small-image {
    height: 120px;
    width: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.news-istanbul .news-small-image {
    background-image: url(../img/istanbul.jpg);
}


.news-liberty .news-small-image {
    background-image: url(../img/liberty.jpg;);
}

.news-boat .news-small-image {
    background-image: url(../img/boat.jpg;);
}

.news-paradise1 .news-small-image {
    background-image: url(../img/paradise1.jpg);
}

.news-paradise2 .news-small-image {
    background-image: url(../img/paradise2.jpg);
}

.news-text {
    font-size: 14px;
}

 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


